﻿@{
    if (!WebSecurity.IsAuthenticated) 
{ 
    Response.Redirect("~/Default");
}    

    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Add a product";

    Validation.RequireField("Productnaam", "Voeg de product naam toe!");
    Validation.RequireField("Aantal", "Voer het aantal in?");
    Validation.RequireField("Categorie", "Voer de categorie in");


    var Productnaam = "";
    int Aantal = 0;
    int Categorie = 0;


    if(IsPost && Validation.IsValid()){
        Productnaam = Request.Form["Productnaam"];
        int.TryParse(Request.Form["Aantal"], out Aantal);
        int.TryParse(Request.Form["Categorie"], out Categorie);


       var db = Database.Open("Koelkastapp");
       var insertCommand = "INSERT INTO Producten (Productnaam, Aantal, Categorie) Values(@0, @1, @2)";
       db.Execute(insertCommand, Productnaam, Aantal, Categorie);
       Response.Redirect("~/Default");
    }
}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Add a Product</title>
  </style>
</head>
<body>
  <h1>Add a product</h1>
  <form method="post">
    <fieldset>
      <p><label for="Productnaam">Product:</label>
         <input type="text" name="Productnaam" value="@Request.Form["Productnaam"]" />
          @Html.ValidationMessage("Productnaam")
      </p>

      <p><label for="Aantal">Aantal:</label>
         <input type="Number" name="Aantal" value="@Request.Form["Aantal"]" />
          @Html.ValidationMessage("Aantal")
      </p>
<select name="Categorie"> 
  <option value="1">Categorie 1</option> 
  <option value="2">Categorie 2</option> 
  <option value="3">Categorie 3</option>
  <option value="4">Categorie 4</option>
  <option value="5">Categorie 5</option>
  <option value="6">Categorie 6</option>    
</select> 
          @Html.ValidationMessage("Prioriteit")
      <p><input type="submit" name="buttonSubmit" value="Add Product" /></p>
    </fieldset>
  </form>
</body>
</html>