﻿@{
        if (!WebSecurity.IsAuthenticated) 
{ 
    Response.Redirect("~/Default");
}    
    

    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Delete product uit producten lijst";
    var Productnaam = "";
    int aantal = 0;
    int Categorie = 0;
    var id= "";

    if(!IsPost){
        if(!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].IsInt()) {
            id = Request.QueryString["ID"];
            var db = Database.Open("koelkastapp");
            var dbCommand = "SELECT * FROM Producten WHERE ID = @0";
            var row = db.QuerySingle(dbCommand, id);

            if(row != null) {
                Productnaam = row.Productnaam;
                aantal = row.aantal;
                Categorie = row.Categorie;
            }
            else{
                Validation.AddFormError("Geen product geselecteerd");
            }
        }
        else{
            Validation.AddFormError("Geen product geselecteerd");
        }
    }

    if(IsPost && !Request["buttonDelete"].IsEmpty()){
        id = Request.Form["id"];
        var db = Database.Open("koelkastapp");
        var deleteCommand = "DELETE FROM Producten WHERE ID = @0";
        db.Execute(deleteCommand, id);
        Response.Redirect("~/Default");
    }
}
<html>
<head>
  <title>Delete a Product</title>
</head>
<body>
      <h1>@Page.Title</h1>
        @Html.ValidationSummary()
      <p><a href="~/index">Terug naar producten</a></p>

      <form method="post">
        <fieldset>
        <legend>Product informatie</legend>

        <p><span>Productnaam:</span>
         <span>@Productnaam</span></p>

        <p><span>aantal:</span>
         <span>@aantal</span></p>

        <input type="hidden" name="id" value="@id" />
        <p><input type="submit" name="buttonDelete" value="Delete Product" /></p>
        </fieldset>
        <p><a href="~/index">Terug naar producten</a></p>
      </form>
    </body>
</html>