﻿@{
    if (!WebSecurity.IsAuthenticated) 
{ 
    Response.Redirect("~/index");
}    
    
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Wijzig de producten";
    var Productnaam = "";
    int Aantal = 0;
    int Categorie = 0;
    var id= "";

    if(!IsPost){
        if(!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].IsInt()) {
            id = Request.QueryString["ID"];
            var db = Database.Open("koelkastapp");
            var dbCommand = "SELECT * FROM Producten WHERE ID = @0";
            var row = db.QuerySingle(dbCommand, id);

            if(row != null) {
                Productnaam = row.Productnaam;
                Aantal = row.Aantal;
                Categorie = row.Categorie;
            }
            else{
                Validation.AddFormError("Geen product geselecteerd");
            }
        }
        else{
            Validation.AddFormError("Geen product geselecteerd");
        }
    }

    if(IsPost){
        Validation.RequireField("Productnaam", "Er is geen product naam ingevoerd");
        Validation.RequireField("Aantal", "Voer de aantal");
        Validation.RequireField("Categorie", "Voer Categorie in");
        Validation.RequireField("id", "Er is geen product ID beschikbaar");


        Productnaam = Request.Form["Productnaam"];
        int.TryParse(Request.Form["Aantal"], out Aantal);
        int.TryParse(Request.Form["Categorie"], out Categorie);
        id = Request.Form["id"];

        if(Validation.IsValid()){
            var db = Database.Open("koelkastapp");
            var updateCommand ="UPDATE Producten SET Productnaam=@0, Aantal=@1, Categorie=@2 WHERE ID=@3";
            db.Execute(updateCommand, Productnaam, Aantal, Categorie, id);
            Response.Redirect("~/Default");
        }
    }
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
  <h1>@Page.Title</h1>
    @Html.ValidationSummary()
  <form method="post">
    <fieldset>
      <legend>Trouwlijst</legend>

      <p><label for="Productnaam">Productnaam:</label>
         <input type="text" name="Productnaam" value="@Productnaam" /></p>

      <p><label for="aantal">Aantal:</label>
         <input type="number" name="Aantal" value="@Aantal" /></p>

<select name="Categorie"> 
  <option value="1">Categorie 1</option> 
  <option value="2">Categorie 2</option> 
  <option value="3">Categorie 3</option>
  <option value="4">Categorie 4</option>
  <option value="5">Categorie 5</option>
  <option value="6">Categorie 6</option>    
</select> 


      <input type="hidden" name="id" value="@id" />

      <p><input type="submit" name="buttonSubmit" value="Submit Changes" /></p>
    </fieldset>
  </form>
</body>
</html>