﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="~/Stylesheet/Aanpassing.css">
    </head>
    <body>
        <header>
                    @RenderPage("~/Shared/_Header.cshtml")

            </header>
            
                    <div class="col-xs-6">
                         <div class="nav">
                            <a href="~/Default.cshtml" class="btn btn-primary" role="button">Categorie</a>
                          </div>
                    </div>
                   <section id="login">
                        @if (WebSecurity.IsAuthenticated) {
                            <text>
                                    
                    <div class="col-xs-6">
                         <div class="nav">
                                    <form id="logoutForm" action="~/Account/Logout" method="post">
                                        @AntiForgery.GetHtml()
                                        <a href="javascript:document.getElementById('logoutForm').submit()"class="btn btn-primary">Log out</a>
                                    </form>
                          </div>
                    </div>


                            </text>
                        } else {
                                
                                    <div class="col-xs-3">
                                           <div class="nav">
                                                 <a href="~/Account/Register" class="btn btn-primary">Register</a>
                                            </div>
                                      </div>
                                    <div class="col-xs-3">
                                           <div class="nav">
                                                 <a href="~/Account/login"class="btn btn-primary">Login</a>
                                           </div>
                                      </div>
    
                        }
                 </section> 

    </ul>
  </div>
</nav>
</div>    
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        @RenderSection("Scripts", required: false)
      @RenderPage("~/Shared/_Footer.cshtml")
    </body>
</html>