﻿@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";

        if (!WebSecurity.IsAuthenticated) 
{ 
    Response.Redirect("~/Register");
}    
}

<html lang="en">

        @RenderPage("~/Shared/_Header.cshtml")
    <body>
<div class="container">
        <div class="row">
    <div class="col-xs-6">
        <a href="~/Categorie/Categorie1.cshtml"><img src="~/Images/Dranken.png"></a></div>
    <div class="col-xs-6">
        <a href="~/Categorie/Categorie1.cshtml"><img src="~/Images/Dranken.png"></a></div>
  </div>
      <div class="row">
    <div class="col-xs-6">
        <a href="~/Categorie/Categorie1.cshtml"><img src="~/Images/Dranken.png"></a></div>
    <div class="col-xs-6">
        <a href="~/Categorie/Categorie1.cshtml"><img src="~/Images/Dranken.png"></a></div>
  </div>
      <div class="row">
    <div class="col-xs-6">
        <a href="~/Categorie/Categorie1.cshtml"><img src="~/Images/Dranken.png"></a></div>
    <div class="col-xs-6">
        <a href="~/Categorie/Categorie1.cshtml"><img src="~/Images/Dranken.png"></a></div>
  </div>

          <div class="row">
    <div class="col-xs-12">
        <a href="~/Categorie/Categorie1.cshtml"><img src="~/Images/Dranken.png"></a></div>
     </div>
    </div>

</div>
    </body>

</html>

