﻿@{Layout="../_SiteLayout.cshtml";
  var db = Database.Open("Koelkastapp");
var selectedData = db.Query("SELECT * FROM producten Where Categorie=1;");
var grid = new WebGrid(source: selectedData);
  
  
  }

<html lang="en">
   <body>
     <div class="col-xs-12">
        <div>
         @grid.GetHtml(
         tableStyle: "table",
         headerStyle: "head",
         alternatingRowStyle: "alt",
         columns: grid.Columns(
        grid.Column(format: @<text><a href="~/Functions/Delete?id=@item.ID"><img src="~/Images/deletered.png"></a></text>),
        grid.Column(format: @<text><a href="~/Functions/Edit?id=@item.ID"><img src="~/Images/edit.png"></a></text>),
        grid.Column("Productnaam"),
        grid.Column("Aantal"),
        grid.Column(format: @<text><a href="~/Edit?id=@item.ID"><ImgsUp</a></text>),
        grid.Column(format: @<text><a href="~/Edit?id=@item.ID">Down</a></text>)
        )

)
        </div>
   </div>
</body>

</html>
